html {
    font-family: Poppins;
    background: #000;
    margin: 0;
    padding: 0
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 9999;
}

.loading-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100px;
    line-height: 100px;
}

.loading-text span {
    display: inline-block;
    margin: 0 5px;
    color: #e657ff;
    font-family: 'Quattrocento Sans', sans-serif;
}

.loading-text span:nth-child(1) {
    filter: blur(0px);
    animation: blur-text 1.5s 0s infinite linear alternate;
}

.loading-text span:nth-child(2) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.2s infinite linear alternate;
}

.loading-text span:nth-child(3) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.4s infinite linear alternate;
}

.loading-text span:nth-child(4) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.6s infinite linear alternate;
}

.loading-text span:nth-child(5) {
    filter: blur(0px);
    animation: blur-text 1.5s 0.8s infinite linear alternate;
}

.loading-text span:nth-child(6) {
    filter: blur(0px);
    animation: blur-text 1.5s 1s infinite linear alternate;
}

.loading-text span:nth-child(7) {
    filter: blur(0px);
    animation: blur-text 1.5s 1.2s infinite linear alternate;
}

.loading-text span:nth-child(8) {
    filter: blur(0px);
    animation: blur-text 1.5s 1.4s infinite linear alternate;
}

.loading-text span:nth-child(9) {
    filter: blur(0px);
    animation: blur-text 1.5s 1.6s infinite linear alternate;
}
@keyframes blur-text {
    0% {
        filter: blur(0px);
    }

    100% {
        filter: blur(4px);
    }
}
:root {
--plyr-color-main: #e657ff;
--plyr-video-control-color	:#e8ffba;
}

.plyr__video-wrapper::before {
content: '';
position: absolute;
z-index: 10;
height: 18%;
width: 28%;
bottom: 5px;
right: 5px;
background: url(https://github.com/kasintv/kasintv.github.io/blob/main/Image/KaSin%20TV.png?raw=true);
background-size: 100% auto, auto;
background-repeat: no-repeat;
}

#tlgrm {
    position: fixed;
    z-index: 99999999;
    left : 25px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    bottom: 67px;
}

#tlgrm_message:after,#tlgrm_message:before {
    content: &#39; &#39;;
    position: absolute;
    bottom: -21px;
    left: 23px;
    border-style: solid;
    height: 0;
    width: 0;
    border-width: 10px;
    border-color: transparent;
}

#tlgrm_message p {
    margin: 0px 0;
    font-size: 12px;
    color: #8e8e8e;
    text-align: left ;
}

.clossalert {
    position: absolute;
    left : 0px;
    font-size: 14px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: -17px;
    border: unset!important;
  background-color: red;
  color: white;
}

#tlgrm_message a {
    margin: 6px 4px;
    font-weight: bold;
    color: #FFF;
    border-radius: 6px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
   background: #0088cc;
}


#text {
position: fixed;
border: 0;
left: 0;
width: 100%;
color: #fff;
bottom: 50px;
text-align: center;
font-family: tahoma;
font-size: 20px;
z-index: 9999
}
